body {
    margin: 0;
    padding: 30px;
    background-color: aquamarine;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(179, 130, 225);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
input {
    margin-top: 10px;
}
button {
margin: 10px;
}
#totalTareas {
    margin-top: 10px;
    margin-bottom: 10px;
}
#tareasCompletadas {
    margin-top: 10px;
    margin-bottom: 10px;
}